body 
{
	background: url('../assets/ipad_BG.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  	background-size: cover;
	overflow: hidden;
}

* {	font-family: Helvetica; }


#instructions
{
	background: url('../assets/ipad_BG.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#countContainer
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 80;
}



/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px)
{
	#countToStart
	{
		position: absolute;
		left: 33%;
		top: 18%;
		font-size: 12em;
		color: white;
	}


	#instructions { padding-top: 2%; }
	.instructions
	{
		margin-bottom: 4%;
		color: white;
		font-size: 1.6em;
		width: 100%;
		text-align: center;
	}
		#instruction1
		{
			margin-bottom: 11%;
		}

			#hShot
			{
				background: url('../assets/instructions/h_group_shot.png') no-repeat;
				background-size: 100% 100%;
				position: absolute;
				width: 9%;
				height: 5%;
				left: 42%;
				margin-top: 1%;
			}	
			#vShot
			{
				background: url('../assets/instructions/v_group_shot.png') no-repeat;
				background-size: 100% 100%;
				position: absolute;
				width: 3%;
				height: 14%;
				left: 52%;
				margin-top: -2.5%;
			}

		#instruction3
		{
			margin-bottom: 11%;
		}

			#instruction3 > div
			{
				background-image: url('../assets/instructions/1.png') no-repeat;
				background-size: 100% 100%;
				position: absolute;
				width: 10%;
				height: 9%;
				left: 45%;
			}
			
		#skipButton
		{
			position: absolute;
			right: 1%;
			top: 1%;
			width: 12%;
			height: 6%;
		}

	canvas
	{
		position: absolute;
		z-index: 10;
		left: 0;
		top: 0;
	}

	#gridFrame
	{
		background: url('../assets/ipad_Grid_Frame.png');
		background-size: 100% 100%%;
		position: relative;
		/*margin-left: 2%;*/
		margin-top: 1%;
		width: 75%;
		height: 100%;
	}

	#grid
	{
		background: url('../assets/ipad_Main_Grid.png') no-repeat;
		background-size: 101% 100%;
		position: absolute;
		width: 93%;
		height: 93%;
		margin-left: 3%;
		margin-top: 3.5%;
		z-index: -10;
	}

	#gameInfo
	{
		/*background: url('../assets/ipad_score_window.png');*/
		/*background-size: 100% 100%;*/
		position: absolute;
		width: 20%;
		height: 30%;
		right: 5%;
		top: 30%;
		z-index: 20;
	}
		#bonus
		{
			background: url('../assets/bonus_window.png');
			background-size: 100% 100%;
			position: relative;
			width: 119%;
			height: 24%;
			margin-bottom: 5%;
			margin-left: -5%;
		}
		#name
		{
			background: url('../assets/name_window.png');
			background-size: 100% 100%;
			position: relative;
			width: 120%;
			height: 25%;
			margin-left: -7%;
			font-size: 2.25em;
			color: white;
		}

			#name > div, #score > div
			{
				position: absolute;
				bottom: 20%;
				left: 30%;
				color: white;
				width: 150px;
				text-overflow: ellipsis; 
				overflow: hidden; 
				white-space: nowrap;
			}

		#score
		{
			background: url('../assets/score_window.png');
			background-size: 100% 100%;
			position: relative;
			width: 121%;
			height: 25%;
			margin-left: -8%;
			font-size: 2.25em;
			color: white;
		}

	#timerBlock
	{
		background: url('../assets/ipad_time_slot.png');
		background-size: 100% 100%;
		background-position: left top;
		position: absolute;
		width: 20%;
		height: 9%;
		right: 4%;
		top: 60%;
		z-index: 20;	
	}
		#timerBlock > div
		{
			position: absolute;
			left: 15%;
			bottom: 25%;
			color: white;
			font-size: 2em;
		}

	#gameOver
	{
		background-color: rgba(0,0,0,0.8);
		-webkit-background-size: cover;
	  	background-size: cover;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
		#gameOver p
		{
			color: white;
			position: absolute;
			font-size: 6em;
			left: 20%;
			top: 25%;
		}
}

/* #### Desktops #### */
@media screen and (min-width: 1025px)
{
	#countToStart
	{
		position: absolute;
		left: 45%;
		top: 25%;
		font-size: 12em;
		color: white;
	}

	#instructions { padding-top: 2%; }
	.instructions
	{
		margin-bottom: 4%;
		color: white;
		font-size: 1.6em;
		width: 100%;
		text-align: center;
	}
		#instruction1
		{
			margin-bottom: 11%;
		}

			#hShot
			{
				background: url('../assets/instructions/h_group_shot.png') no-repeat;
				background-size: 100% 100%;
				position: absolute;
				width: 9%;
				height: 6%;
				left: 42%;
				margin-top: 1%;
			}	
			#vShot
			{
				background: url('../assets/instructions/v_group_shot.png') no-repeat;
				background-size: 100% 100%;
				position: absolute;
				width: 3%;
				height: 16%;
				left: 52%;
				margin-top: -1%;
			}

		#instruction3
		{
			margin-bottom: 11%;
		}

			#instruction3 > div
			{
				background-image: url('../assets/instructions/1.png') no-repeat;
				background-size: 100% 100%;
				position: absolute;
				width: 10%;
				height: 9%;
				left: 45%;
			}

		#skipButton
		{
			position: absolute;
			right: 1%;
			top: 1%;
			width: 7%;
			height: 4%;
		}

	canvas
	{
		position: absolute;
		z-index: 10;
		left: 10%;
		top: 1%;
	}

  	#gridFrame
	{
		background: url('../assets/ipad_Grid_Frame.png');
		background-size: 100% 100%;
		position: relative;
		margin-left: 10%;
		margin-top: 1%;
		width: 40%;
		height: 75%;
	}

	#grid
	{
		background: url('../assets/ipad_Main_Grid.png') no-repeat;
		background-size: 101% 100%;
		position: absolute;
		width: 93%;
		height: 93%;
		margin-left: 3%;
		margin-top: 3.5%;
		z-index: -10;
	}

	#gameInfo
	{
		/*background: url('../assets/ipad_score_window.png');*/
		/*background-size: 100% 100%;*/
		position: absolute;
		width: 20%;
		height: 30%;
		right: 2%;
		top: 30%;
		z-index: 20;
	}
		#bonus
		{
			background: url('../assets/bonus_window.png');
			background-size: 100% 100%;
			position: relative;
			width: 100%;
			height: 24%;
			margin-bottom: 5%;
		}
		#name
		{
			background: url('../assets/name_window.png');
			background-size: 100% 100%;
			position: relative;
			width: 102%;
			height: 25%;
			margin-left: -2%;
			font-size: 2.25em;
			color: white;
		}

			#name > div, #score > div
			{
				position: absolute;
				bottom: 20%;
				left: 30%;
				color: white;
				width: 260px;
				text-overflow: ellipsis; 
				overflow: hidden; 
				white-space: nowrap;
			}

		#score
		{
			background: url('../assets/score_window.png');
			background-size: 100% 100%;
			position: relative;
			width: 102%;
			height: 25%;
			margin-left: -2%;
			font-size: 2.25em;
			color: white;
		}

	#timerBlock
	{
		background: url('../assets/ipad_time_slot.png');
		background-size: 100% 100%;
		background-position: left top;
		position: absolute;
		width: 11%;
		height: 7%;
		right: 6%;
		top: 60%;
		z-index: 20;	
	}
		#timerBlock > div
		{
			position: absolute;
			left: 15%;
			bottom: 20%;
			color: white;
			font-size: 2em;
		}

	#gameOver
	{
		background-color: rgba(0,0,0,0.8);
		-webkit-background-size: cover;
	  	background-size: cover;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
		#gameOver p
		{
			color: white;
			position: absolute;
			font-size: 6em;
			left: 35%;
			top: 30%;
		}
}


